<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/semantic.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script src="javascripts/semantic.js" charset="utf-8"></script>
    <title><%=title%></title>
  </head>
  <body class="home">
    <div class="">
      <img src="./images/logo1.png">
    <div class="ui  attached menu">
      <div class="ui steps" style="margin-bottom:0px;">
        <a class=" step" href="/">
          <i class="home icon"></i>
          <div class="content">
            返回主页
          </div>
        </a>
        <div class="active step">
          <i class="users icon"></i>
          <div class="content">
            会员管理
          </div>
        </div>
      </div>
      <div class="right menu">
        <div class="ui right aligned category search item">
          <div class="ui action input">
            <input type="text" placeholder="输入手机号" class="search_text">
            <button class="ui blue button search_button">查询是否存在</button>
            <button class="ui green button new_vip">添加会员</button>
          </div>
        </div>
      </div>
    </div>
      <table class="ui celled table" style="margin-top:0px;border:0px;">
        <thead>
          <tr>
            <th>序号</th>
            <th>手机号</th>
            <th>账户余额</th>
            <th>入会时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(function(vip){%>
            <tr>
              <td><%=vip.id%></td>
              <td><%=vip.phone%></td>
              <td><%=vip.mount%></td>
              <td><%=vip.create_time.toLocaleString()%></td>
              <td>
                <button class="ui button red del_vip" id="<%=vip.id%>">删除</button>
                <button class="ui button blue new_recharge" id="<%=vip.phone%>" balance="<%=vip.mount%>">充值</button>
                <a  class="ui button" href="/consume?phone=<%=vip.phone%>">查看消费记录</a>
              </td>
            </tr>
            <%})%>
        </tbody>
        <%if(pages!=0){%>
          <tfoot>
            <tr><th colspan="5" class="center aligned">
              <div class="ui  pagination menu">
                <a class="icon item" href="/vip?page=1">
                  <i class="backward icon"></i>
                </a>
                <!-- 选项的个数求取,当总页数小于需要显示的页数5页,显示所有页数,当大于显示的总页数,获取需要显示的数字,并排序位置,可以实现对一个数组进行赋值 -->
                <%if(pages<=5){
                  for(var i=1;i<=pages;i++){%>
                    <%if(i==page){%>
                      <a class="active item"><%=i%></a>
                    <%}else{%>
                      <a class="item" href="/vip?page=<%=i%>"><%=i%></a>
                      <%}%>
                  <%}
                }else{
                  var index;
                if((page-2)>0&&(page+2)<=pages){
                  index = 2;
                }
                if(page-2<=0){
                  index=page-1;
                }
                if((page+2)>pages){
                  index=4-(pages-page);
                }
                var temp2=page;
                var temp1=page-index-1;
              for(var j=0;j<index;j++){temp1++;%>
                  <a class="item" href="/vip?page=<%=temp1%>"><%=temp1%></a>
              <%}%>
              <a class="active item"><%=page%></a>
            <%
             for(var j=index+1;j<5;j++){temp2++;%>
               <a class="item" href="/vip?page=<%=temp2%>"><%=temp2%></a>
               <%}}%>
                <a class="icon item" href="/vip?page=<%=pages%>">
                  <i class="forward icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
          <%}%>
      </table>
    </div>
    <!--添加模态对话框 -->
    <div class="ui small modal new">
      <i class="close icon"></i>
      <div class="content">
        <form class="ui form" method="post" action="/vip/new">
          <div class="field">
            <label>手机号</label>
            <input type="text" name="phone" placeholder="会员手机号">
          </div>
          <div class="field">
            <label>会员金额</label>
            <input type="text" name="mount" value=0>
          </div>
          <button class="ui blue button" type="submit">提交</button>
        </form>
      </div>
    </div>
    <div class="ui small modal recharge">
      <i class="close icon"></i>
      <div class="content">
        <form class="ui form" method="post" action="/recharge/new">
          <input type="text" name="balance" hidden  class="balance">
          <div class="field">
            <label>手机号</label>
            <input type="text" name="phone"  readonly class="phone">
          </div>
          <div class="field">
            <label>充值金额</label>
            <input type="text" name="mount" value=0>
          </div>
          <button class="ui blue button" type="submit">提交</button>
        </form>
      </div>
    </div>
    <div class="ui small modal del">
      <div class="content">
        确定删除该会员信息?删除后不可恢复
      </div>
      <div class="actions">
          <div class="ui negative button">取消</div>
          <div class="ui positive button">确定</div>
      </div>
    </div>
    <script type="text/javascript">
      $(function(){
        $(".card").css({"background-color":"grey","box-shadow":"none"});
        $(".search_button").click(function(){
          var keyword=$(".search_text").val().trim();
          if(keyword.length==0){
            $(".search_text").transition('shake');
            return;
          }
          window.location.href="/vip?keyword="+keyword;
        })
        $(".new_vip").click(function(){
          $('.small.modal.new').modal('setting', 'closable', false).modal('show');
        })
        $(".del_vip").click(function(){
          var keyword=$(this).attr("id");
          $('.small.modal.del').modal({
            closable  : false,
            onApprove : function(){
              window.location.href="/vip/del/"+keyword;
            }
          }).modal('show');
        });
        $(".new_recharge").click(function(){
          var phone=$(this).attr("id");
          var balance=$(this).attr("balance");
          $(".phone").val(phone);
          $(".balance").val(balance);
          $('.small.modal.recharge').modal('setting', 'closable', false).modal('show');
        })
      })

    </script>
  </body>
</html>
